/* navigation */
#navbr{
    flex-direction: column;
    position: relative;
   
}
html{
    overflow-x: hidden;
}
#navbr ul li a{
    padding: 0px 14px;
    color: rgb(196 8 8);
    font-size: 17px;
    font-family: fantasy;
}

/* HOme */
#home{
    height: 341px;
    padding: 3px 20px;

}
#home::before{
    height: 480px;

}
#home p{
    font-size: 13px;
   
}
/* services section */
#services{
    flex-direction: column;
}
#serv-container{
    margin-top: 20px;
    background-color: #d8e2e2;
    padding-bottom: 12px;
}

#services .box {
   
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
/* #services .box img{
    width: 159px;
} */
/* client sectiontion */
#client{
    flex-wrap: wrap;
}
#client img{
    width: 104px;
    padding: 2px 8px;
    height: auto;
}
/* contact section */

#contact::before{
   
    height: 104%;
    

}
#cont-box {
    margin-top: 45px;
}
#cont-box form{
    width: 60%;
}

/* footer` */
footer{
    width: 93.5vw;
   

}
/* utility class */
.hpr{
    font-size: 26px;
}
.btn , .btn-sn{
    padding: 5px 21px;
    font-size: 15px;
}